@mixin columnas{
    @media (max-width: 768px){
        flex-direction: column;
        height: 341px;
        align-items: center;
    }
}

@mixin saldo{
    @media (max-width:768px){
        width: 100%;
        flex: 0;
    }
}