@mixin grid-responsive-1200{
    @media (max-width: 1200px){
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@mixin grid-responsive-900{
    @media (max-width: 900px){
        grid-template-columns: 1fr;
        padding: 0 auto;

    }
}