@use './base/base';
@use './layout/header';
@use './layout/titulo';
@use './layout/informacion';
@use './layout/ahorro';
@use './layout/boton';


h2{
    color: #344055;
    color: #E2E8F0;
    color: #121212;
    color: #5B6776;
    color: #E2E8F0;
    color: #121212;
    color: #344055;
    color: #E2E8F0;
    color: #344055;
    color: #E3E8EF;
    color: #E2E8F0;
    color: #79808A;
    color: #4F46E5;
    color: #B8B6F7;
    background-color: #F7F8FD;
    background-color: #4F46E5;
    color: #E2E8F0;;
    color: #F7F8FD;
    color: #4F46E5;
    color: #4F46E5;
}
