    $color-primary:#344055;
    $color-secondary: #E2E8F0;
    $color-three: #121212;
    $color-four: #4F46E5;
    $color-five: #F7F8FD;
    $color-six: #B8B6F7;
    $color-seven: #5B6776;
    $color-eigth: #E3E8EF;
    $color-nine: #79808A;