@use '../theme/variable';

.boton{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    min-width: calc(100% - 96px);
    height: 124px;
    border-radius: 6px;
    border: 1px solid #E2E8F0;
    background-color: #F7F8FD;
    gap: 14px;
    @media (max-width:360px){
        flex-direction: row-reverse;
        width: 328px;
        height: 64px;
        box-shadow: 0px 4px 6px -2px #10182808;
        box-shadow: 0px 12px 16px -4px #10182814;

    }

    &__crear{
        width: 40px;
        height: 40px;
        border-radius: 1000px;
        padding: 12px;
        gap: 4px;
        border: none;
        background-color: #4F46E5;
        color: white;
    }

    &__texto{
        text-align: center;
        width: 200px;
        height: 24px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -2%;
        color: #4F46E5;
        @media (max-width: 360px){
            width: 112px;
            height: 18px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}