@use '../theme/variable';
@use '../module/mixin-cambios';
@use '../module/mixin-ahorro-responsive';

.information{
    display: flex;
    flex-direction: row;    
    @include mixin-cambios.size-imagen(calc(100% - 96px), 160px);
    margin: 0 auto;
    gap: 21px;
    @include mixin-ahorro-responsive.columnas;
    
        .saldo{
            height: 160px;
            @include mixin-ahorro-responsive.saldo;
            // @include mixin-cambios.size-imagen(920px, 160px);
            display: flex;
            flex-direction: column;
            padding: 16px 24px 16px 24px;
            gap: 21px;
            border: 1px solid #E2E8F0;
            border-radius: 6px;
            position: relative;
            flex: 1;
            
            .usuario{
                display: flex;
                height: 40px;
                gap: 18px;
                align-items: center;
                flex: 1;
                &__saludo{
                    @include mixin-cambios.size-imagen(32px, 40px);
                }

                &__nombre{
                    @include mixin-cambios.size-imagen(127px, 32px);
                    font-weight: 700;
                    font-size: 24px;
                    color: #121212;
                }
            }
            
            &__monto{
                height: 40px;
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: -2.4%;
                color: #344055;
                flex: 1;
            }
            &__option{
                @include mixin-cambios.size-imagen(18px, 18px);
                position: absolute;
                top: 16px;
                right: 16px;
            }
        }
        .retiro{
            max-width: 398px;
            height: 160px;
            border: 1px solid #E2E8F0;
            border-radius: 6px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px 24px;
            position: relative;
            
            .retirar{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                @include mixin-cambios.size-imagen(152px, 100px);
                
                &__imagen{
                    @include mixin-cambios.size-imagen(64px, 64px);
                }
                &__texto{
                    @include mixin-cambios.size-imagen(152px, 20px);
                    color: #344055;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                }
            }

            &__line{
                @include mixin-cambios.size-imagen(1.5px, 160px);
                background-color: #E3E8EF;
                position: absolute;
                top: 0;
                right: 50%;
            }

        } 
}