@use '../theme/variable';
@use '../module/mixin-cambios';

.titulo{
    display: flex;
    flex-direction: column;
    height: 140px;
    // @include mixin-cambios.size-imagen(1440px, 140px);
    gap: 8px;
    padding: 36px 48px;
    
    &__heading{
        @include mixin-cambios.titulo-style(383px, 40px, #121212, 700, 32px, 40px, 1);
    }
    &__parrafo{
        @include mixin-cambios.titulo-style(383px, 20px, #586776, 400, 14px, 20px, 0);
    }
}
